app-skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    display: grid;
    align-items: center;
    display: inherit;

}

.tech-stack-header {
  color: aquamarine;
  margin-bottom: 1rem;
}

.tech-stack-wrapper  img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.first {
  display: flex;
}

.second {
  display: flex;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}
